* {
    box-sizing: border-box;
}

body {
    background-color: #4F4944;
    font-family: 'Work Sans';
}

.navbar {
    display: none;
    background-color: lightgray;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    box-shadow: 0 3px 3px #00000056;
}

.navbar-brand {
    font-family: 'Dancing Script';
    font-size: 2em;
    text-shadow: 0 2px 2px #00000056;
    color: #4F4944;
}

#navInner {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 5em;
    color: white;
    text-shadow: 0 3px 3px #00000056;
}

h5 {
    font-family: 'Bubblegum Sans';
}

.logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 3px 3px #00000056;
}

#loginCard {
    display: flex; 
    /* display: none; */
    max-width: 480px;
    border-radius: 5px;
    background-color: lightgray;
    margin: 0 auto;
    box-shadow: 0 3px 3px #00000056;
}

#signupLink {
    color: #4F4944;
    float: right;
    padding-top: 10px;
}

#signupLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

#signupCard {
    display: none;
    max-width: 480px;
    border-radius: 5px;
    background-color: lightgray;
    margin: 0 auto;
    box-shadow: 0 3px 3px #00000056;
}

#signupConf {
    display: none;
    align-content: center;
    max-width: 480px;
    border-radius: 5px;
    background-color: lightgray;
    margin: 0 auto;
}

#signupConf p {
    text-align: center;
    margin: 20px auto;
}

#signupLogin {
    margin: 10px auto;
}

#collectionTable {
    /* display: flex; */
    display: none;
    font-size: 12px;
    max-width: 960px;
    margin: 0 auto;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #00000056;
}

#collectionTable thead {
    background-color: gold;
    color: #4F4944;
    font-family: 'Bubblegum Sans';
    font-size: 1.5em;
}

#collectionTable th {
    text-align: left;
    border: 3px solid lightgrey;
}

#collectionTable th:hover {
    text-decoration: underline;
    cursor: pointer;
}

#addRecord {
    display: none;
    max-width: 680px;
    margin: 0 auto;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #00000056;
}

.card-header {
    height: 50px;
    background-color: gold;
}

label {
    display: none;
}

div.input-group-option:last-child span.input-group-addon-remove {
    display: none;
}

div.input-group-option:last-child input.form-control {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove {
    padding: 5px 10px 0 10px;
    cursor: pointer;
    border-top: 1px solid #cdd3d9;
    border-right: 1px solid #cdd3d9;
    border-bottom: 1px solid #cdd3d9;
    border-radius: 0 3px 3px 0;
    color: #666;
    background-color: #f1f1f1;
}

div.input-group-option {
    margin-bottom: 3px;
}