
* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('assets/mainbg.jpg');
    background-color: #4F4944;
    font-family: 'Lato';
}

.alignleft {
    float: left;
    margin-right: 10px;
}

.alignright {
    float: right;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.card {
    margin: 0 10px;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 5em;
    color: white;
    text-shadow: 0 3px 3px #00000056;
}

h5 {
    font-family: 'Lato';
    font-style: italic;
}

.navbar {
    margin-bottom: 50px;
}

.navbar-brand {
    font-family: 'Dancing Script';
    color: white;
    font-size: 1.8em;
}

#instructions {
    max-width: 400px;
    text-align: justify;
    background-color: lightgray;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

input[type=checkbox] {
    -ms-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -o-transform: scale(1.8);
    padding: 10px;
}

.submitMessage {
    text-align: center;
    color: red;
}

.logo {
    flex-wrap: wrap;
    max-width: 480px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.divCentered {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0;
}

.modal-header {
    background-color: gold;
    border-bottom: none;
}

#loginCard {
    max-width: 400px;
    /* border-radius: 5px; */
    background-color: lightgray;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    }

#signupLink {
    color: #4F4944;
    float: right;
    padding-top: 10px;
}

#signupLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

#signupCard {
    max-width: 480px;
    /* border-radius: 5px; */
    background-color: lightgray;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    }

#signupConf {
    align-content: center;
    max-width: 480px;
    /* border-radius: 5px; */
    background-color: lightgray;
    margin: 0 auto;
}

#signupConf p {
    text-align: center;
    margin: 20px auto;
}

#signupLogin {
    margin: 10px auto;
}

#collectionTable {
    font-size: 12px;
    /* max-width: 960px; */
    margin: 0 auto;
    background-color: lightgray;
    /* padding-top: 15px; */
    padding-bottom: 15px;
    /* border-radius: 5px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    }

#collectionTable thead {
    background-color: gold;
    color: #4F4944;
    font-family: 'Lato';
    /* font-size: 1.5em; */
}

#collectionTable th {
    text-align: left;
    border: 3px solid lightgrey;
}

#collectionTable th:hover {
    text-decoration: underline;
    cursor: pointer;
}

#collectionTable td {
    /* font-size: 1.4em; */
    color: black;
}

#collectionTable td:hover {
    text-decoration: underline;
    cursor: pointer;
}

#navMain {
    /* clear: both; */
    /* text-align: right; */
    margin-bottom: 10px;
}

#navMain::after {
    content: "";
    display: block;
    clear: both;
}

#addRecord {
    max-width: 680px;
    margin: 0 auto;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    }

.card-header {
    height: 50px;
    background-color: gold;
}

/* @media (min-width: 620px) {
    .modal-dialog {
        max-width: 600px;
        margin: 2rem auto;
    }
} */

.noCover {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('assets/nocover.png');
    margin-bottom: 15px;
    width: 80%;
}

#aModalImg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    }

.cover {
    margin-bottom: 15px;
    width: 80%;
}

#addRecordSubmit,
#addTrack {
    margin-bottom: 15px;
    text-align: right;
}

#deleteTrack {
    cursor: pointer;
}

.modal-content>.form-control {
    padding: 0;
    border: none;
}

#albumModal input[type="text"] {
    width: 95%;
    border: none;
    /* margin-bottom: 5px; */
    padding: 3px;
    padding-left: 5px;
}

#aModalArtist {
    font-size: 1.4rem;
}

#aModalAlbum {
    font-size: 1.4rem;
    border-bottom: 1px solid #4F4944 !important;
}

#aModalFooterRight {
    text-align: right;
}

#aModalFooterLeft {
    text-align: left;
}

#aModalDelete {
    margin-left: 0;
}

.form-control-plaintext {
    padding-top: 0;
    padding-bottom: 0;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0px 9999px white;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

ol {
    padding-left: 15px;
    list-style-position: outside;
}

.trackRowFirst {
    padding: 0;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 70%;
    overflow-y: auto;
}

.inputEditing {
    background-color: lightgoldenrodyellow;
}

label {
    display: none;
}

div.input-group-option:last-child span.input-group-addon-remove {
    display: none;
}

div.input-group-option:last-child input.form-control {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove {
    padding: 5px 10px 0 10px;
    cursor: pointer;
    border-top: 1px solid #cdd3d9;
    border-right: 1px solid #cdd3d9;
    border-bottom: 1px solid #cdd3d9;
    border-radius: 0 3px 3px 0;
    color: #666;
    background-color: #f1f1f1;
}

div.input-group-option {
    margin-bottom: 3px;
}

@media only screen and (max-width: 600px),
(min-device-width: 320px) and (max-device-width: 800px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        text-align: right;
        position: relative;
        padding-left: 50%;
        font-weight: 600;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        white-space: nowrap;
    }
    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Artist";
    }
    td:nth-of-type(2):before {
        content: "Album";
    }
    td:nth-of-type(3):before {
        content: "Released";
    }
    td:nth-of-type(4):before {
        content: "Label";
    }
    td:nth-of-type(5):before {
        content: "Genre";
    }
    td:nth-of-type(6):before {
        content: "Format";
    }
}