* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: #4F4944;
}

#addRecord {
    max-width: 680px;
    margin: 0 auto;
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

label {
    display: none;
}

div.input-group-option:last-child span.input-group-addon-remove {
    display: none;
}

div.input-group-option:last-child input.form-control {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove {
    padding:5px 10px 0 10px;
    cursor: pointer;
    border-top: 1px solid #cdd3d9;
    border-right: 1px solid #cdd3d9;
    border-bottom: 1px solid #cdd3d9;
    border-radius: 0 3px 3px 0;
    color: #666;
    background-color: #f1f1f1;
}

div.input-group-option {
    margin-bottom: 3px;
}

button.btn {
    background-color: #FFC857;
}